@model OnlineInternshipPortal.Models.Data.ViewModel.UsersViewModel

@{
    ViewData["Title"] = "GetUserDetails";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div>
   
    <hr />
    <br />
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <span class="fa fa-user-circle  text-white"></span> User information
        </div>
        <div class="card-body">

            @if (Model.ProfilePic != null)
            {
                <img width="100" height="100" src="data:image/*;base64,@(Html.Raw(Convert.ToBase64String(Model.ProfilePic)))" alt="Student image" />
            }
            else
            {
                <img width="100" height="100" src="~/images/UserImage.jpg" alt="User image" />
            }

            <br />

            <dl class="row">
               
                <dt class="col-sm-2">
                   Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.FullName)
                </dd>
                <dt class="col-sm-2">
                    Date of Birth
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-2">
                    Gender
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GenderName)
                </dd>
                <dt class="col-sm-2">
                    Home town
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.HomeTown)
                </dd>
                <dt class="col-sm-2">
                   Region
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RegionName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Residence)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Residence)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                   Email Address
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-2">
                   Contact
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

            </dl>

        </div>

    </div>
   


</div>
