@model OnlineInternshipPortal.Models.Data.ViewModel.CompanyViewModel

@{
    ViewData["Title"] = "Removecompany";
    Layout = "~/Views/Shared/_header.cshtml";
}

<h1>Removecompany</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CompanyViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyRegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyRegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companywebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companywebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyVideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyVideoLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndustryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndustryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherIndustry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherIndustry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DesignationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DesignationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyImageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyImageId)
        </dd>
    </dl>
    
    <form asp-action="Removecompany">
        <input type="hidden" asp-for="CompanyId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
